.compteur-container {
  text-align: center;
}

.compteur-box {
  width: 300px;
  height: 150px;
}

.compteur-svg {
  top: 0;
  left: 0;
  width: 300px;
  height: 150px;
}

.vitesse-display {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

